body{
  background-color: rgb(141, 74, 85);
}
.to-do-list{
  font-family: Arial, san-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: white;
}

button{
  font-size:1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: rgb(37, 117, 37);
}
.add-button:hover{
  background-color: rgba(12, 56, 12);
}

.delete-button{
  background-color: rgb(222, 38, 41);
}
.delete-button:hover{
  background-color: rgb(96, 17, 8);
}
.move-up-button{
  background-color: rgb(21, 68, 237);
}
.move-up-button:hover{
  background-color: rgb(84, 84, 228);
}
.move-down-button{
  background-color: rgb(34, 117, 233);
}
.move-down-button:hover{
  background-color: rgb(111, 169, 231);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.delete-button, .move-up-button, .move-down-button{
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1.4rem;

}
